
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
      header {
   
   
   
}
h1 {
	font-weight: bold;
}

.navbar-logo {
    height: 1.8em;
    margin-top: .1em;
}
.container {
	 margin-top: .1em;
}

.slider {
  height: 800px;
}
@media (max-width: 700px) {
  .slider {
   height: 600px;
  }
  @media (max-width: 600px) {
  .slider {
   height: 500px;
  }
  @media (max-width: 320px) {
  .slider {
   height: 300x;
  }
  